<template name="createProject">
  <!-- Modal -->
  <div class="modal fade" id="createProject">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="createProject">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Create a project</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="projectTitle">Project title</label>
              <input type="text" class="form-control" id="projectTitle" placeholder="Enter project title">
            </div>
            <div class="form-group">
              <label for="projectDescription">Project description</label>
              <textarea class="form-control" id="projectDescription" placeholder="Enter project description" />
            </div>
            <div class="form-group">
              <label for="projectImage">Project image URL</label>
              <input type="text" class="form-control" id="projectImage" placeholder="Enter project image URL">
            </div>
          </div>
          <div class="modal-footer">
            <a data-dismiss="modal" class="btn">Close</a>
            <button data-dismiss="modal" class="btn btn-primary submit">Create project</button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</template>
